<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spba.dao.GoodsMapper">

    <select id="listGoods" resultType="java.util.List">
        SELECT * FROM good
    </select>

    <select id="selectPageByUserId" resultType="com.example.spba.domain.entity.Good">
        SELECT * FROM good WHERE user_id = #{userId}
        order by id desc
        LIMIT #{pageSize} OFFSET #{pageNum}
    </select>
</mapper>